In [2]:
import pandas as pd

In [3]:
sentilex=pd.read_csv('sentiLex_lem_PT02.csv')
sentilex

,term,grammar_category,polarity,polarity_target,polarity_classification
0,a-vontade,N,1,N0,MAN
1,abafado,Adj,-1,N0,JALC
2,abafante,Adj,-1,N0,MAN
3,abaixado,Adj,-1,N0,JALC
4,abalado,Adj,-1,N0,JALC
...,...,...,...,...,...
7009,zombeteiro,Adj,-1,N0,MAN
7010,zonzeira,N,-1,N0,MAN
7011,zonzo,Adj,-1,N0,JALC
7012,zote,Adj,-1,N0,MAN
7013,zumbidor,Adj,-1,N0,MAN

In [4]:
oplexicon2=pd.read_csv('oplexicon_v2.1.csv')
oplexicon2

              term type  polarity
0         ababadar   vb         0
1      ababelar-se   vb         1
2         ababelar   vb        -1
3         abacanar   vb         1
4         abacinar   vb         1
...            ...  ...       ...
30668   zumbidores  adj        -1
30669       zumbir   vb         1
30670        zunir   vb         1
30671        zupar   vb        -1
30672       zurzir   vb        -1

[30673 rows x 3 columns]

In [5]:
oplexicon3=pd.read_csv('oplexicon_v3.0.csv',encoding='cp850')
oplexicon3

             term  type  polarity polarity_revision
0              =[  emot        -1                 A
1              =@  emot        -1                 A
2              =p  emot        -1                 A
3              =P  emot        -1                 A
4              =x  emot        -1                 A
...           ...   ...       ...               ...
32186  zumbidores   adj        -1                 A
32187      zumbir    vb         1                 A
32188       zunir    vb         1                 A
32189       zupar    vb        -1                 A
32190      zurzir    vb        -1                 A

[32191 rows x 4 columns]

In [22]:
a=set(sentilex['term'].values)
b=set(oplexicon3['term'].values)
c=set(a).intersection(b);

In [48]:
indice=[]
for i in c:
    indice.append(sentilex.loc[sentilex['term']==i].index[0])

In [69]:
sentilex2=sentilex[['term','grammar_category','polarity','polarity_classification']].drop(labels=indice,axis=0)
sentilex2.rename(columns={'grammar_category':'type','polarity_classification':'polarity_revision'},inplace=True)
df_dict=pd.concat([oplexicon3,sentilex2],ignore_index=True)
df_dict

                  term  type  polarity polarity_revision
0                   =[  emot        -1                 A
1                   =@  emot        -1                 A
2                   =p  emot        -1                 A
3                   =P  emot        -1                 A
4                   =x  emot        -1                 A
...                ...   ...       ...               ...
34078  vulnerabilidade     N        -1               MAN
34079        xenofobia     N        -1               MAN
34080            zanga     N        -1               MAN
34081             zelo     N         1               MAN
34082         zonzeira     N        -1               MAN

[34083 rows x 4 columns]

In [70]:
df_dict.to_csv('dictionary_lex_PT.csv',index=False)